.tittle_container{
    /* center the tittle */
    text-align:center;
    
}

.img_container{
    /* center each image */
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: auto;

}

@media (max-width: 767px) {
    .imgmenu{
        background-image: url("../../img/Menu1.png");
        width: 85%;
    }
}