.tittle_container{
    /* center the tittle */
    text-align:center;
    
}

.img_container{
    /* center each image */
    display: flex;
    align-items:center;
    justify-content: center;
    width: 100%;
    height: auto;

}