
/* Asegúrate de que el nombre del archivo CSS sea el mismo que importaste en tu componente React */
/* 
.xyz123 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container-abc {
  width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h2 {
  color: #333;
  text-align: center;
}

.client-container-123,
.reservation-container-123 {
  margin-top: 20px;
}

.label-abc {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-abc {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.button-abc {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.button-abc:hover {
  background-color: #45a049;
}

.loading-xyz {
  font-style: italic;
  color: #888;
  text-align: center;
} */


.losh1{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.losh2{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.xyz123 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.xyz123 > div {
  width: 100%; /* Ancho del contenedor ajustado al 100% */
  margin-bottom: 20px; /* Espacio entre los contenedores */
}

.label-abc {
  font-weight: bold;
}

.input-abc {
  margin-bottom: 10px;
}

.button-abc {
  background-color: rgb(0, 191, 255);
  border: none;
  border-radius: 3px;
  color: white;
  padding: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.loading-xyz {
  font-style: italic;
  color: #888;
}

.reservation-container-123,
.client-container-123 {
  border: 8px solid #ddd;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.reservation-container-123 button,
.client-container-123 button {
  margin-top: 10px;
}

.iniii{
  margin-left: 2%;
}
