.mar, .kianny {
  display: inline-block;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  transition: all .5s ease;
  transform-style: preserve-3d;
  font-weight: 400;
  margin: 2rem 0 0.25rem 0;
  font-size: 40px;
}

.mar:after, .kianny:after {
  content: "Developer";
  position: absolute;
  top: -100%;
  left: 0px;
  width: 100%;
  background: #9bc0ce;
  transform-origin: left bottom;
  transform: rotateX(90deg);
}

.mar:hover, .kianny:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
  color: aliceblue;
}

.figu {
  width: 300px;
  height: 500px;
  background: #9bc0ce;
  border-width: 2px;
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
}

.Foto {
  position: absolute;
  margin-left: -60%;
  top: 22%;
  width: 65%;
  transition: transform 0.2s;
}

.conta {
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los elementos */
  flex-wrap: wrap; /* Permite que se envuelvan si no hay suficiente espacio */
}
