.allCar{
    max-width: 100%;
}

.carousel-container {
    max-width: 70%; /* Puedes ajustar el tamaño según tus necesidades */
    margin: auto; /* Centra el carousel horizontalmente */
}


.imagenes {
    width: 100%;
    max-height: 550px; /* Establece la altura máxima según tus necesidades */
    object-fit: cover; /* Controla cómo se ajusta la imagen manteniendo su relación de aspecto */
}


@media (max-width: 767px) {
    .imagenes {
        max-height: 211px; /* Establece la altura máxima según tus necesidades */
        object-fit: cover; /* Controla cómo se ajusta la imagen manteniendo su relación de aspecto */
    }
    .carousel-container {
        max-width: 100%; /* Puedes ajustar el tamaño según tus necesidades */
        margin: auto; /* Centra el carousel horizontalmente */
    }
}
